nav {
    background: #111111;
    border-bottom: 5px solid #37a29B;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 20px 10px 0 10px;
    font-size: 14px;
    color: #ffffff;
}
