h1{
    color: yellow;
}
h2{
    color: red;
}
header {
    background-color: black;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
